.mat-radio-button ~ .mat-radio-button {
    margin-left: 20px;
  }

  #mat-lable{
    margin-right: 2%;
}


.custom-nav {
  height: 70px;
  width: 100%;
  background: linear-gradient(to right, #edd252, #f09a2e);
  display: flex !important; 
}
.custom-nav .honeycomb-bg {
  background-position: right;
  background-image: url(../../assets/honey_comb.png);
  background-size: 50%;
  background-repeat: no-repeat;
  height: inherit;
  width: 96%;
  position: absolute;
}

.login-container {
  padding: 2rem 15rem;
}

.bt-login {
  margin: 2rem auto 1rem;
  display: block;
  width: 100%;
}


.honey-icon {
  /* width: 12rem; */
  background: white;    
}

.custom-nav .app-title{
  font-size: 26px;
  color: white;
  /* padding: 1.15rem; */
  padding-left: 2rem;
  margin: auto 0;
}

.honey-icon img {
  display: block;
  margin-left: auto;
  margin-top: 14px;
  margin-right: auto;
  width: 45px;
  height: 45px;
}

.main-body {
  margin-left: 0;
  margin-right: 0;
}
.tab-panel {
  background: #555555;
  padding: 2.5rem 0;
}

.tab-panel .button-container {
  position: relative;
  padding-bottom: 0.4rem; 
}

.tab-panel .button-container button {
  display: block;
  background-color: inherit;
  padding: 12px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  color: white;
}
.tab-panel .button-container button:hover {
  background-color: #767676cf;
}
.tab-panel .button-container button.active {
  background-color: #767676;
  border-left: 8px solid #eed857;
}
.tab-panel .button-container button p {
  margin-bottom: 0;
  font-size: 29px;
}


.arrow-right {
  width: 0;
  height: 0;
  border-left: 17px solid #767676;
  /* border-right: 0px solid transparent; */
  border-bottom: 45px solid transparent;
  border-top: 45px solid transparent;
  position: absolute;
  top: 0;
  right: -17px;
}
.hide {
  display: none;
}

.content-container {
  padding: 2rem;
}

.profile-section {
  position: absolute;
  right: 0;
  display: flex;
  padding-top: 1rem;
  padding-right: 2rem;
}
.profile-section  a {
  color: white;
  position: relative;
}
.profile-section  .dropdown-menu a {
  color: black;

}
.fa-bell {
  font-size: 25px;
}

.badge {
  background: red;
  border-radius: 54%;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 29px;
  top: 0px;
  padding: 4px 4px;
}

.ne-card {
  padding-bottom: 2rem;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 9px 0 rgba(0, 0, 0, 0.19);
}

.ne-card .ne-card-header {
  background: #eed857;
  color: white;
  font-size: 1.2rem;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1.25rem;
}

.ne-card .ne-card-body, .ne-card .track-card-body {
  font-size: 0.8rem;
}

.ne-card .ne-card-body .qr-icon, .ne-card .ne-card-body .ne-sliders {
  font-size: 24px;
  padding: 7px 1.5rem;
}
.ne-card .ne-card-body button.scan {
  color: white;
  width: 7rem;
  border: none;  
}
.ne-card .ne-card-body button.scan {
  background: #f09c2e;    
}
.ne-card-body button.bt-white {
  color: #4a4a4a;  
  width: 7rem;
  margin-left: 3rem;
}
.ne-card .form-control, .ne-card .honey-source {
  width: 75%;
}

.ne-card .volume-unit {
  display: block;
  width: 7rem;
  font-size: 14px;
}

.ne-card  .track-card-body {
  display: flex;
  justify-content: space-between;
}.ne-card  .track-card-body  form input{
  border-right: none;
  border-radius: 0;
}
.ne-card  .track-card-body form button {
  border-radius: 0;
  border: 1px solid #ced4da;
  border-left: none;
}




/* .form-inline {
  display: inline-block;
}
.navbar-header.col {
  padding: 0 !important;
}	 */
.navbar {    
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
}	
.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .badge {
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
  position: relative;
  margin-right: 10px;
}
.navbar ul.nav li a.messages {
  margin-right: 20px;
}
.navbar a.notifications .badge {
  margin-left: -8px;
}
/* .navbar a.messages .badge {
  margin-left: -4px;
}	 */
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
  background: transparent !important;
}

.reg-upload {
  width: 75%;
  display: block;
}

.counterContainer {
  display: flex;
  position: relative;
}
.counter {
  font-size: 2.5rem;
  position: absolute;
  right: 5rem;
  top: -0.6rem;
}

#displayBy  {
  color: white;
  font-size: 14px;
}
#displayBy .selected {
  background: #f09c2e;
  color: white;
}
#displayBy .btn-outline-secondary:hover {
  background: white;
  color: black;
}

.trace-id-row {
  display: flex;
  background: #f8f8f8;
  padding: 0.3rem;
  font-size: 13px;
  border-bottom: 1px solid white;
}
.trace-id-row .fa{
  color: #f09d2f;
  padding: 1rem 2rem;
  cursor: pointer;
}
.trace-id-row .row{
  width: -webkit-fill-available;
  margin-left: 0;
  margin-right: 0;
}
.trace-id-row .row .col-sm-2 div:first-child {
  font-weight: bold;
}

.child {
  padding-left: 2%;
}
.child .trace-id-row {
  background: none;
}
.trace-id {
  cursor: pointer;
  color: blue;
  text-decoration: underline;

}
.modal .more-width {
  max-width: 700px !important;
}


.track-card-body .search-form {
  width: 75%;
  margin: 0 auto;
}

.farmer-detail-container {
  margin: 2rem 0;
}

.farmer-detail-container .farmer-detail {
  border: 1px solid;
  background: #f8f8f8;
  padding: 15px;
  margin: auto;
  width: 90%;
}
.farmer-detail-container .farmer-detail .header {
  margin-bottom: 2.5rem;
}
.farmer-detail-container .farmer-detail .header h5 {
  font-size: 0.97rem;
  font-weight: bold;
}
.farmer-detail-container .farmer-detail h6 {
  font-size: 0.9rem;
}
.farmer-detail-container .farmer-detail .body {
  margin-bottom: 2rem;
}
.farmer-detail-container .farmer-detail .body h6 {
  padding-top: 1rem;
}
.farmer-detail-container .farmer-detail .body > div {
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.farmer-detail-container .farmer-detail .body > div div:first-child {
  width: 40%;
}

.previous-transactions {
  border-top: 1px dashed;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.8rem;
}
.previous-transactions .row {
  margin: 1rem 0.5rem;
}
.previous-transactions .col-sm-2 {
  padding: 0 5px;
  text-align: center;
}
.farmer-detail .signature {
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
}

.signature .farmer-sign,  .signature .aggregator-sign {
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px dashed;
}

.chit-container {
  /* display: flex; */
  background: #e9ecef;
  width: 75%;
  margin: 1% 0;
  /* border: 1px solid #d2dbde; */
  /* flex-wrap: wrap; */
}
.chit-container .chits {
  text-align: center;
  margin: 0;
  padding: 1%;
  border-bottom: 2px solid white;
  /* width: fit-content;
  background: #555555;
  color: white;
  padding: 3px 12px;
  border-radius: 16px;
  margin: 1%; */
}

.chit-container .chits div:last-child {
  position: relative;
}

.chit-container .chits div:last-child div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
}
.chit-container .chits div:last-child div span:first-child {
  color: #10657e;
  cursor: pointer;
}

.chit-container .chits div:last-child div span:nth-child(2) {
  color: #b81f1f;
  cursor: pointer;
}



.chit-container .chits .fa-times{
  cursor: pointer;
}

.form-check {
  margin-left: 2%;
}


#editForm {
  padding-right: 0;
}
#editForm .modal-dialog {
  max-width: 70%;
  margin: 3% auto;
}

#searchResult {
  display: none;
}


/* Here */
datalist{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  display: none;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}