<form [formGroup]="beekeeper" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
<div class="row">
    <div class="input-field col s6">
        <input id="first_name" name="first_name"
        formControlName="first_name" type="text" class="validate" >
        <label for="first_name">First Name</label>

        <div class="red-text test-darken-2"
        *ngIf="first_name.errors && (first_name.dirty || first_name.touched)">
     <p *ngIf="first_name.errors.required">First Name is required</p>
    </div>
    </div>
   
    <div class="input-field col s6">
        <input id="last_name" name="last_name" 
        formControlName="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
        <div class="red-text test-darken-2"
        *ngIf="last_name.errors && (last_name.dirty || last_name.touched)">
     <p *ngIf="last_name.errors.required">Last Name is required</p>
    </div>
    </div>
</div>

<div class="row">
    <div class="input-field col s4">
        <input type="text"
        formControlName="address" id="address" class="validate">
        <label for="address">Address</label>
        <div class="red-text test-darken-2"
        *ngIf="address.errors && (address.dirty || address.touched)">
     <p *ngIf="address.errors.required">Address is required</p>
    </div>
    </div>
    <div class="input-field col s4">
        <input type="text" 
        formControlName="state" id="state" class="validate">
        <label for="state">State</label>
        <div class="red-text test-darken-2"
        *ngIf="state.errors && (state.dirty || state.touched)">
     <p *ngIf="state.errors.required">State is required</p>
    </div>
    </div>
    <div class="input-field col s4">
        <input formControlName="city" type="text" id="city" class="validate">
        <label for="city">City</label>
        <div class="red-text test-darken-2"
        *ngIf="city.errors && (state.dirty || state.touched)">
     <p *ngIf="city.errors.required">City is required</p>
    </div>
    </div>
</div>

<div class="row">
    <div class="input-field col s4">
        <input type="text" id="colony" formControlName="colony" class="validate">
        <label for="colony">Colony</label>
        <div class="red-text test-darken-2"
        *ngIf="colony.errors && (colony.dirty || colony.touched)">
     <p *ngIf="colony.errors.required">Colony is required</p>
    </div>
    </div>
</div>

<div class="row">
    <div class="input-field col-s12">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="migrate" 
        [ngModelOptions]="{standalone: true}" >
            <mat-label id="mat-lable">Do you Migrate ?</mat-label>
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
    </div>
</div>


<div class="row" *ngIf="migrate==='1' ">
    <table>
        <thead>
            
            <tr>
                <th>State</th>
                <th>Crop</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let field of fields;let i=index">
                <td>
                    <div class="input-field col s4">
                        <input type="text" id="state" class="validate" name="state" 
                        [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="field['state']">
                    </div>
                </td>
                <td>
                    <div class="input-field col s4">
                        <input type="text" id="crop" class="validate" name="crop"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="field['crop']">
                    </div>
                </td>
            </tr>

        </tbody>
        <a class="btn-floating btn-large waves-effect waves-light red  btn-small" (click)="addFields()">
            <i class="material-icons">add</i>
        </a>

        <a class="btn-floating btn-large waves-effect waves-light red  btn-small" (click)="removeFields()">
            <i class="material-icons">remove</i>
        </a>

    </table>

</div>

<div class="row">
    <div class="input-field col s6">
        <input id="aadhar" type="text" class="validate" formControlName="aadhar_number">
        <label for="aadhar">Aadhar Number</label>
        <div class="red-text test-darken-2"
        *ngIf="aadhar_number.errors && (aadhar_number.dirty || aadhar_number.touched)">
     <p *ngIf="aadhar_number.errors.required">Aadhar is required</p>
     <p *ngIf=" aadhar_number.errors.minlength">Enter 16 Digit Aadhar Number</p>
     <p *ngIf="aadhar_number.errors.pattern">Please Enter Digit Only</p>
    </div>
    </div>
    <div class="input-field col s6">
            <input id="quantity" type="text" class="validate" formControlName="quantity">
            <label for="quantity">Quantity of Honey Produced Last year.</label>
            <div class="red-text test-darken-2"
            *ngIf="quantity.errors && (quantity.dirty || quantity.touched)">
         <p *ngIf="quantity.errors.required">Quantity is required</p>
        </div>
        </div>


      <div class="row">
            <div class="input-field col s6">
              <input type="text" formControlName="amount" readonly>
              <label for="amount">Amount</label>
              <div class="red-text test-darken-2"
              *ngIf="amount.errors && (amount.dirty || amount.touched)">
           <p *ngIf="amount.errors.required">Amount is required</p>
          </div>
            </div>
            <div class="input-field col s6">
                <input type="text" formControlName="demand_draft">
                <label for="dd">Demand Draft Number</label>
                <div class="red-text test-darken-2"
                *ngIf="demand_draft.errors && (demand_draft.dirty || demand_draft.touched)">
             <p *ngIf="demand_draft.errors.required">Demand Draft is required</p>
            </div>
              </div>
          </div>
          <div class="row">
                <div class="file-field input-field col s6">
                        <div class="btn  btn-small">
                          <span>Upload Aadhar</span>
                          <input id="image" type="file" (change)="onSelectFile($event)">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate"   type="text">
                        </div>
                      </div>

                      <div class="file-field input-field col s6">
                            <div class="btn  btn-small">
                              <span>Passport size photo</span>
                              <input type="file" (change)="onSelectFile($event)">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate"   type="text">
                            </div>
                          </div>
                   
          </div>
          <button class="btn waves-effect waves-light  btn-small"
           type="submit" name="action" >Submit
            <i class="material-icons right">send</i>
          </button>
    
</div>
</form>