<!-- <nav class="white">
        <div class="nav-wrapper">
          <a [routerLink]="['']" class="brand-logo">
                <img style="width: 50%;" src="https://www.srijan.net/hubfs/logo/srijan_logo.png">
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="black-text text-darken-2" href="#">About Us</a></li>
            <li><a  class="black-text text-darken-2" href="#">Contact</a></li>
          </ul>
        </div>
      </nav> -->
            
      <div>
          <nav class="d-flex flex-row ">
            <div class="honey-icon col-sm-2">
              <img class="center-block" src="assets/honey_icon.png" />
            </div>
            <div class="custom-nav col-sm-10">
              <div class="honeycomb-bg"></div>
              <div class="app-title">Honey Traceability</div>
              </div>
            </nav>
    
            </div>
    