<mat-form-field>
        <input matInput placeholder="Name" [value]="userdata['name']" readonly>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Address" [value]="userdata['address']" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="State" [value]="userdata['state']" readonly >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" [value]="userdata['city']" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="CIN Number" [value]="userdata['cin_number']" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Colony" [value]="userdata['colony']" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Demand Draft" [value]="userdata['demand_draft']" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Quantity" [value]="userdata['quantity']" readonly>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Term" [value]="userdata['term']" readonly>
            </mat-form-field>
        

            