<div class="container ">
  <div class="row" >
    <div class="row green" *ngIf="formSubmit || IndividualSubmit">
      <p>Beekeeper Form is Submitted</p>
    </div>
    
    <form class="col s10" (ngSubmit)="onSubmit()" style="border: 2px solid black">
      <div class="row">
        <div class="input-field col-s4">
          <mat-form-field>
            <mat-label>Choose Type</mat-label>
            <mat-select (selectionChange)="Selected($event)" [(ngModel)]="selected_type"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let type of application_type" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="input-field col-s4">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="selected_term"
            [ngModelOptions]="{standalone: true}">
            <mat-label id="mat-lable">Choose Term</mat-label>
            <mat-radio-button value="Annual">Annual</mat-radio-button>
            <mat-radio-button value="Life term">Life term</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">

        <div class="input-field col-s4">
          <mat-form-field>
            <mat-label>Choose Category</mat-label>
            <mat-select (selectionChange)="Selected($event)" [(ngModel)]="selected_category"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <app-beekeeper (submitted)="formSubmitted($event)"[term]="selected_term" [category]="selected_category"
      [type]="selected_type" *ngIf="selected_category==='0'"></app-beekeeper>

   

        <app-other  (othersubmitted)="otherSubmit($event)" [term]="selected_term"  *ngIf="(selected_category !== '0') && (selected_category !== undefined)" [category]="selected_category"
        [type]="selected_type" ></app-other>

    
    

      
    </form>
  </div>

</div>